
<h1> Thanks Leizel.  This was very cool of you <h1>

<h2 > <%= @jewel.name %> </h2>

<p style="color: <%=@jewel.color%>"> My color is <%=@jewel.color%> </p>

<p>miner who own this jewel listed below</p>
<% @jewel.miners.each do |miner| %>
    <ul>
    <%= link_to miner.name, miner_path(miner)%></br>
    <%end%>

    <ul>